#########################################
# Archivos de diseño pesados (NO subir)
#########################################

*.ai
*.psd
*.eps
*.xd
*.fig
*.sketch
# Tipos de archivo pesados
*.mp3
*.mp4
*.wav
*.ogg
*.mov
*.avi
*.zip
*.psd
*.ai
*.pem
*.png
*.jpeg